* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-shadow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid;
  border-bottom: 10px solid #555;
  z-index: 110;
  padding: 0;
}

.header {
  width: 39vmin;
  height: 4rem;
  background-color: #ff8152;
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
}

.header .inactive-drop {
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
  margin-right: auto;
}
.header .active-drop {
  opacity: 1;
  transition: all 0.1s ease;
  pointer-events: all;
  margin-right: auto;
}

.header ul {
  position: absolute;
  background: #ff8152;
  margin-top: 2px;
  width: 39vmin;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 2px;
  z-index: 12;
}

.header li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header li:hover {
  background-color: #55916b;
}
.header a {
  color: white;
  text-decoration: none;
}

.header button {
  background: none;
  border: none;
  font-family: latoblack;
  font-size: 2.4vmin;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}
